<!--CABEÇALHO 1-->
    <header class="header">
            <div class="header-container">
                <div class="logo">
                    <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Tks/Pag.%20Home/index.html">
                        <img src="./IMG/logolaranja.png" width="120px" >
                    </a>
                </div>
    
                <!--barra de pesquisa-->
                <div class="search">
                    <input type="text" name="search" placeholder="O que você procura?">
                    <div class="lupa">
                        <img src="./IMG/LUPATURN.png"  alt="Buscar" width="35px" height="35px">
                    </div>
                </div>
                    
                <!--Entrar ou cadastrar-->
                <div class="ent-cad">
                    <p>Seja bem-vindo!</p>
                    <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Tks/Pag.%20Login/index.html">Entre</a>
                            ou 
                    <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Tks/Pag.%20Cad.%20F/index.html">Cadastre-se</a>
                </div>
                <div class="car-comp">
                    <a href=""><img src="./IMG/carrinhoo.png" class="button" width="40px" height="40px"></a>
                </div>
            </div>
    </header>
    <!--FIM CABEÇALHO 1-->

    <!--CABEÇALHO 2-->
    <header class="header-2">
            
        <!--Masc, Fem e Promo-->
            <div class="categories">
                <ul> 
                    <li class="menu-item masc">
                        <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Tks/Pag.%20Vitri.%20Prod.%20CMasc/PagCamMasc.html">Masculino</a>
                    </li>
                    <li class="menu-item fem">
                        <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Tks/Pag.%20Vitri.%20Prod.%20CFem/PagCamFem.html">Feminino</a>
                    </li>
                    <li class="menu-item prom">
                        <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Tks/Pag.%20Lanca/PagLanca.html">Lançamentos</a>
                    </li>
                </ul>
            </div>
    </header>
    
    <!--CONTEÚDO PRINCIPAL-->

    <main>
        <!--titúlo da página-->
        <span>
            <h2 class="title-section"> Camisetas Masculinas</h2>
        </span>
        <div class="container">
            <!--caixa de seleção-->
                <div class="selection-box">
                    <span>Classificar por:</span>
                </div>
                                
            
            <div class="catalog-content">
                    
            
            </div>

            <!--produtos-->
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="col-content">
                        <div class="catalog-content">
                            <ul>
                                <li class="item-flex">
                                    <div class="product">
                                        <div class="image">
                                            <a href="#" class="space-image large"> 
                                                <img src="./IMG/camturnpreta.png"  alt="Camiseta Turn">
                                            </a>
                                        </div>
                                        <a href="" class="info-product">
                                            <div class="product-name">Camiseta Turn "Paradise" Preta</div>
                                            <div class="down-line">
                                                <div class="box-price">
                                                    <div class="price-off">
                                                        <span>
                                                            <strong>R$ 44,90</strong>
                                                        </span>
                                                    </div>
                                                    <div class="product-payment">
                                                        <span class="txt-parcelas">
                                                            <span class="preco-parc">
                                                                ou 
                                                            </span>
                                                            <strong class="quant-parc">
                                                                  3x
                                                            </strong>
                                                        </span>
                                                        <span class="preco-de">de</span>
                                                        <span class="txt-quantparcelas">
                                                            <strong>R$ 14,97</strong>
                                                        </span>
                                                        <span class="sjuros">sem juros</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>                                         
                                    </div>
                                    <div class="btn">
                                        <a href=""> <button type="button" class="btn btn-details">ver detalhes</button></a>
                                    </div>
                                </li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 

    <!--LINHA INFERIOR-->
    <div class="lin-inf">
    <hr/>
    </div>